#connexion {
    position: fixed;
    background-color: white;
    width: 40vw;
    /*height: 50vh;*/
    height: auto;
    border: 1px solid black;
    display: none; /* >< grid*/
    text-align: right;

    z-index: 10001;

    font-family: "Roboto", sans-serif;

    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

    max-height: 90vh;
    overflow: auto;
    overflow-x: hidden;
}

#formConnexion {
    text-align: center;
    width: 100%;
    height: 100%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align : center;
    -ms-flex-align : center;
    align-items : center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: auto;
}

#formConnexion input {
    outline: 0;
    background: #f2f2f2;
    width: 90%;
    border: 0;
    margin: 0 0 1em;
    padding: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
}

#formConnexion input[type=submit] {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    background: #4CAF50;
    color: #FFFFFF;
}

#formConnexion input[type=submit]:hover {
    background: #43A047;
}

#formConnexion p {
    color: #b3b3b3;
    font-size: 0.8em;
}
#formConnexion p a {
    color: #4CAF50;
    text-decoration: none;
}

#formConnexion header, #formConnexion main, #formConnexion footer {
    width: 100%;
}

#formConnexion header {
    display: -ms-grid;
    display: grid;
    /*-webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;*/
    justify-content: space-evenly;
    -ms-flex-line-pack: space-evenly;
    /*align-content: space-evenly;*/
    text-align: center;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;

    -ms-grid-columns: 33.33% 33.33% 33.33%;

    grid-template-columns: 33.33% 33.33% 33.33%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    background-color: limegreen;

    position: sticky;
    top: 0;
}

#formConnexion h2 {
    color: white;
    font-family: 'fall_is_comingregular', sans-serif;
    font-size: 5vw;

    margin: auto;

    -ms-grid-column: 2;

    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
}

#formConnexion header a {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
}

#closeConnexion {
    height: 2em;
    margin-right: 0.5em;
    margin-top: 0.75em;
}

#formConnexion main {
    padding: 1em;
}

#formConnexion a {
    margin: 0 0 0.5em auto;
}

#formConnexion #subError {
    outline: 0;
    background: #f2f2f2;
    width: 90%;
    margin: 0 0 1em;
    padding: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    display: inline-block;
}

.success {
    border: 1px solid #4CAF50;
    color: #4CAF50;
}

.error {
    border: 1px solid red;
    color: red;
}