#contact {
    font-family: "Roboto", sans-serif;
    padding: 0.5em;
    text-align: center;
}

/*------------------------------------------------------------------------*/
/*Formulaire*/

#contact form input, textarea {
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 2em;
    resize: none;
    font-size: 1em;
    margin: 0.5em 0 0.5em 0;
    padding: 0;
    background: #f2f2f2;
    border: 0;

}

#contact form input[type=text]:focus, input[type=email]:focus, textarea:focus, input[type=submit]:focus, input[type=reset]:focus {
    outline: none;
}

#formContact {
    font-family: "Roboto", sans-serif;
    width: 100%;
    height: auto;
    margin: auto;
}

#contact form input[type=submit], #contact form input[type=reset] {
    border: 1px solid lightgrey;
    display: inline-block;
    width: 48%;
    border-radius: initial;
    height: 2em;
}

#contact form input[type=submit] {
    margin-right: 2%;
    text-transform: uppercase;
    background: #4CAF50;
    color: #FFFFFF;
}

#contact form input[type=submit]:hover {
    background: #43A047;
}

#contact form input[type=reset] {
    text-transform: uppercase;
    background: #FF6347;
    color: #FFFFFF;
}

#contact form input[type=reset]:hover {
    background: #FF4500;
}

#letter {
    width: 90%;
    height: auto;
    -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    padding: 1em;

    display: -ms-grid;

    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;

    margin: 5vh auto 5vh auto;
}

#errorContactForm{
    width: 90%;
    height: auto;
}

#contactButton {
    width: 90%;
    margin: auto;
}

#addressZone {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
    text-align: center;
}

#addressZone p {
    text-decoration: underline;
    font-family: fall_is_comingregular, sans-serif;
    font-size: 2em;
}

#formData {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
    border-right: 1px solid black;
    padding: 1em;
    text-align: left;
}

#stamp img{
    width: 5em;
    height: auto;
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
}

#stamp {
    text-align: right;
}

#contactTitle {
    font-size: 3.5em;
    margin: 0 auto 0.3em auto;
    font-family: fall_is_comingregular;
    letter-spacing: 4px;
}

#mail2 {
    display: none;
}

#errorContactForm {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    margin: 0 0 1em;
    padding: 1em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    display: inline-block;
}