#intro {
    font-family: "Roboto";
    text-align: center;

    display: table-row;

    background-origin: border-box;
    background-image: url("../IMG/kelli-tungay-363192-unsplash.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    background-position: bottom center;
}

/*#intro::before {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../IMG/kelli-tungay-363192-unsplash.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

/*#intro::before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    background: url("../IMG/kelli-tungay-363192-unsplash.png") no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}*/

#intro h1 {
    color: limegreen;
    font-size: 5em;
    margin: 10vh 2vw 20vh 2vw;
}

#intro a {
    text-decoration: none;
    color: white;
    background-color: limegreen;
    padding: 1em;
    border-radius: 5px;
    margin: 100px 0;
}

#intro a:hover {
    text-decoration: none;
    color: white;
    background-color: forestgreen;
    padding: 1em;
    border-radius: 5px;
}

#allIntroElement {
    height: 100vh;
    width: 100%;
    display: table;
}

#startPageHeader {
    display: table-row;
}