#intro {
    font-family: "Roboto", sans-serif;
    text-align: center;

    display: table-row;

    /*background-origin: border-box;
    background-image: url("../IMG/kelli-tungay-363192-unsplash_compress.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    background-position: bottom center;*/

}

#intro::before {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../IMG/kelli-tungay-363192-unsplash_compress.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.90;
}

#intro h1 {
    color: limegreen;
    font-size: 5em;
    margin: 20vh 2vw 0 2vw;
    text-shadow: 1px 0 black;
}

#intro a {
    text-decoration: none;
    color: white;
    background-color: limegreen;
    padding: 1em;
    border-radius: 5px;

    position: absolute;
    transform: translateX(-50%); /*Pour centrer l'élément*/
    bottom: 10vh;

    /*Pas de retour à la ligne*/
    white-space: nowrap;
}

#intro a:hover {
    text-decoration: none;
    color: white;
    background-color: forestgreen;
    padding: 1em;
    border-radius: 5px;
}

#allIntroElement {
    height: 100vh;
    width: 100%;
    display: table;
}

#startPageHeader {
    display: table-row;
}