:root {
    --main-color: white;
    --main-bg-color: #418545;
}

#intro {
    font-family: "Roboto", sans-serif;
    text-align: center;

    display: table-row;

    opacity: 0.90;

    background-origin: border-box;
    //background-image: url("../IMG/kelli-tungay-363192-unsplash_compress.jpg");
    //background-repeat: no-repeat;
    //background-attachment: fixed;
    //background-size: cover;

    //background-position: bottom center;

}

/*#intro::before {
    content: "";
    display: block;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url("../IMG/kelli-tungay-363192-unsplash_compress.jpg") no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 0.90;
}*/

#intro h1 {
    color: var(--main-bg-color);
    font-size: 5em;
    margin: 20vh 2vw 0 2vw;
    text-shadow: 1px 0 black;
    opacity: 1;
}

#intro a {
    text-decoration: none;
    color: var(--main-bg-color);
    background-color: var(--main-color);;
    padding: 1em;
    border: 1px solid var(--main-bg-color);
    border-radius: 5px;

    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); /*Pour centrer l'élément*/
    bottom: 10vh;

    /*Pas de retour à la ligne*/
    white-space: nowrap;
    opacity: 1;
}

#intro a:hover {
    text-decoration: none;
    color: var(--main-color);;
    background-color: var(--main-bg-color);
    padding: 1em;
    border-radius: 5px;
    opacity: 1;
}

#allIntroElement {
    height: 100vh;
    width: 100%;
    display: table;
}

#startPageHeader {
    display: table-row;
}