@media only screen and (max-width: 600px) {

    #map {
        height: 50vh;
    }

    /*------------------------------------------------------------------*/
    /*Section intro*/
    #intro h1 {
        font-size: 10vw;
        /*margin: 0 0 25vh 0;*/
    }

    #intro {
        /*padding: 5vh 0 5vh 0;*/
    }

    #intro a {
        /*bottom: 20vh;*/
    }

    /*-------------------------------------------------------------------*/
    /*Section presentation*/
    #gridBox {
        /*-ms-grid-columns: (1fr)[2];*/
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    }

    #gridBox img {
        width: 80%;
        height: auto;
    }

    #textIntro {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / span 2;
        -ms-grid-row: 3;
        grid-row: 3;
        text-align: justify;
    }

    #textIntro p {
        width: 100%;
        margin: 0;
    }

    #presentation h2 {
        font-size: 15vw;
    }

    /*-------------------------------------------------------------------*/
    /*Section TEAM*/
    #gridBoxTeam {
        -ms-grid-columns: 49% 49%;
        grid-template-columns: 49% 49%;
        -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;

    }

    #team h2 {
        font-size: 15vw;
    }

    #simFau {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    #adrNin {
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    #jonGoo {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 2;
        grid-row: 2;
    }

    #benDmh {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 4;
        grid-row: 4;
    }

    #casDuq {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 3;
    }

    #nazHey {
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 3;
        grid-row: 3;
    }

    #yveHen {
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 2;
        grid-row: 2;
    }

    /*-------------------------------------------------------------------*/
    /*Contact*/
    #stamp, #addressZone {
        display: none;
    }

    #letter #formData {
        border-right: none;
        padding: 0;
    }

    #contact #letter {
        display: block;
        -webkit-box-shadow: none;
        box-shadow: none;
        margin: auto;
        padding: 0;
        width: auto;
    }

    #contact #formContact {
        -webkit-box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
        box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
        padding: 1em;
        margin: auto;
        width: auto;
    }

    #contactTitle {
        font-size: 9vw;
    }

    /*-------------------------------------------------------------------*/
    /*Footer*/
    #connexion {
        width: 60vw;
    }

    /*-------------------------------------------------------------------*/
    /*Footer*/
    footer p {
        -ms-grid-column: 2;
        -ms-grid-column-span: 3;
        grid-column: 2 / span 3;
        padding: 0.5em;
    }

    /*-------------------------------------------------------------------*/
}

@media screen and (orientation:landscape) and (max-height: 350px) {
    #intro h1 {
        font-size: 8vw;
        margin-top: 10vh;
    }
}