@media only screen and (max-width: 600px) {

    /*------------------------------------------------------------------*/
    /*Section intro*/
    #intro h1 {
        font-size: 10vw;
        /*margin: 0 0 25vh 0;*/
    }

    #intro {
        /*padding: 5vh 0 5vh 0;*/
    }

    #intro a {
        /*bottom: 20vh;*/
    }

    /*-------------------------------------------------------------------*/
    /*Section presentation*/
    #gridBox {
        /*-ms-grid-columns: (1fr)[2];*/
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: auto auto auto;
        grid-template-rows: auto auto auto;
    }

    #gridBox img {
        width: 80%;
        height: auto;
    }

    #textIntro {
        -ms-grid-column: 1;
        -ms-grid-column-span: 2;
        grid-column: 1 / span 2;
        -ms-grid-row: 3;
        grid-row: 3;
        text-align: justify;
    }

    #textIntro p {
        width: 100%;
        margin: 0;
    }

    /*-------------------------------------------------------------------*/
    /*Section TEAM*/
    #gridBoxTeam {
        -ms-grid-columns: 49% 49%;
        grid-template-columns: 49% 49%;
        -ms-grid-rows: auto auto auto auto;
        grid-template-rows: auto auto auto auto;

    }

    #team h1 {
        font-size: 15vw;
    }

    #simFau {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    #adrNin {
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    #jonGoo {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 2;
        grid-row: 2;
    }

    #benDem {
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 2;
        grid-row: 2;
    }

    #casDuq {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 3;
        grid-row: 3;
    }

    #nazHey {
        -ms-grid-column: 2;
        grid-column: 2;
        -ms-grid-row: 3;
        grid-row: 3;
    }

    #yveHen {
        -ms-grid-column: 1;
        grid-column: 1;
        -ms-grid-row: 4;
        grid-row: 4;
    }

    /*-------------------------------------------------------------------*/
}

@media screen and (orientation:landscape) and (max-height: 350px) {
    #intro h1 {
        font-size: 8vw;
        margin: 0 0 10vh 0;
    }
}