#presentation {
    font-family: "Roboto";
}

#gridBox img {
    width: 50%;
    height: auto;
}

#gridBox {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto;
    justify-content: space-evenly;
    align-content: space-evenly;
    text-align: center;
}

#gridBox div {
    padding: 0.5em;
}

#sensory {
    grid-column: 1;
}

#solarPanl {
    grid-column: 2;
}

#water {
    grid-column: 1;
}

#forum {
    grid-column: 2;
}

#textIntro {
    grid-column: 3;
    grid-row: 1 / span 2;
}

#textIntro p {
    text-align: justify;
    width: 80%;
    height: auto;
    margin: auto;
}
