#presentation {
    font-family: "Roboto", sans-serif;
}

#gridBox img {
    width: 50%;
    height: auto;
}

#gridBox {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    /*-webkit-box-pack: space-evenly;*/
    /*-ms-flex-pack: space-evenly;*/
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    /*noinspection CssUnknownProperty*/
    -ms-flex-line-pack: space-evenly;
    align-content: space-evenly;
    text-align: center;
}

.gridPresentation {
    padding: 0.5em;
}

#sensory {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
}

#solarPanl {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
}

#water {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
}

#forum {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
}

#textIntro {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
}

#textIntro p {
    width: 80%;
    height: auto;
    margin: auto;
}

#presentation h2 {
    font-family: "fall_is_comingregular", sans-serif;
    font-size: 5em;
    letter-spacing: 4px;
    margin: 0;
    text-align: center;
}