#team {
    font-family: "Roboto", sans-serif;
    text-align: center;
}

#team h2 {
    font-family: "fall_is_comingregular", sans-serif;
    font-size: 5em;
    letter-spacing: 4px;
    margin: 0 auto 0.3em auto;
}

#gridBoxTeam {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33% 33% 33%;
    grid-template-columns: 33% 33% 33%;
    -ms-grid-rows: auto auto auto;
    grid-template-rows: auto auto auto;
    /*-webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;*/
    justify-content: space-evenly;
    -ms-flex-line-pack: space-evenly;
    align-content: space-evenly;
    text-align: center;
}

#gridBoxTeam img {
    border-radius: 50%;
    width: 50%;
    height: auto;
    border: 1px black solid;
}

#simFau {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 1;
    grid-row: 1;
}

#adrNin {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 1;
    grid-row: 1;
}

#jonGoo {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 1;
    grid-row: 1;
}

#benDmh {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 3;
    grid-row: 3;
}

#casDuq {
    -ms-grid-column: 2;
    grid-column: 2;
    -ms-grid-row: 2;
    grid-row: 2;
}

#nazHey {
    -ms-grid-column: 3;
    grid-column: 3;
    -ms-grid-row: 2;
    grid-row: 2;
}

#yveHen {
    -ms-grid-column: 1;
    grid-column: 1;
    -ms-grid-row: 2;
    grid-row: 2;
}