#adminPage input {
    width: 90%;
}

#QRBox {
    display: none;
}

#boxImgQR {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#downloadQR {
    margin: auto;
}

#qrcode {
    margin: 1em auto 1em auto;
}

#adminPage > *:not(hr) {
    margin-right: auto;
    margin-left: auto;
}

#adminPage :not(hr){
    max-width: 500px;
}

/*------------------------------------------------------------------------------*/
/*Promotion d'utilisateur*/

#divPromote, #divDelCaptor, #divDelCateg {
    width: 90%;
    margin: auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
}

#divPromote input, #divDelCaptor input, #divDelCateg input{
    width: 100%;
}

#adminPage select {
    outline: 0;
    background: #f2f2f2;
    border: 0;
    margin: 0 0 1em;
    padding: 0.8em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1em;
    -webkit-appearance: none;
}

/*------------------------------------------------------------------------------*/
/*Message de retout*/

#errorCateg, #errorCaptor, #errorPromote, #errorDelCateg, #errorDelCaptor {
    display: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
    margin: auto auto 1em auto;
    padding: 1em;
}