@media only screen and (max-width: 600px){

    #document_Main {
        display: initial;
    }

    #menuUser {
        display: none;
    }

    #contentZone {
        border-radius: 10px;
    }

    #menuUser {
        position: absolute;
    }

    #mobile_menu_button_side {
        display: inline-block;
        height: 8vw;
        width: auto;
        margin: auto auto auto 1em;
        position: absolute;
        left: 0;
        cursor: pointer;
    }

    #mobile_menu_button_side:hover {
        opacity: 0.6;
    }

    #sideNav{
        margin: 0;

        border: 1px solid black;
        border-radius: 0;
        height: fit-content;

        padding: 1em 0.5em 1em 0.5em;

        background-color: rgb(231 250 231);

        font-family: "Roboto", sans-serif;

        overflow: hidden;
    }

    /*Footer*/
    #document_Footer p {
        -ms-grid-column: 2;
        -ms-grid-column-span: 3;
        grid-column: 2 / span 3;
        padding: 0.5em;
    }
}

/*Grand écran*/
@media screen and (min-width: 1400px) {
    /*Footer*/

    #document_Footer {
        font-size: 1.3em;
    }

    #linkGitHub, #linkTrello {
        text-indent: -0.5em;
    }
}
